<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bird Sightings</title>
</head>
<body>
<% include ../../public/partials/header.ejs %>
<a href="sightings/new" class="btn btn-success btn-lg">Add</a>
</body>
</html>