<header>
    <nav>
        <a href="/">Birdsightings</a>
        <ul>
            <li><a href="/sightings">Sightings</a></li>
            <li><a href="/sightings/new">Add Sighting</a></li>
        </ul>
    </nav>
</header>